@font-face {
    font-family: "bold";
    src: url("lato-bold.ttf");
}
@font-face {
    font-family: "regular";
    src: url("lato-regular.ttf");
}
@font-face {
    font-family: "honey";
    src: url("honeyscript-light-webfont.ttf");
}